.about_right {
	padding: 4rem 3rem 2rem 6rem;
}
.about_right section {
	margin-bottom: 40px;
}
.about_right h1 {
	font-size: 32px;
	margin-bottom: 20px;
}
.about_right h2 {
	margin-bottom: 20px;
}
.about_right p {
	font-size: 20px;
	margin-bottom: 20px;
}

.about_nav {
	position: relative;
	top: -50px;
	width: 100%;
}
.about_nav div {
	margin-bottom: 3rem;
}
.section {
	margin-bottom: 10px;
}

.picture {
	/* border: solid red 1px; */
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-bottom: 20px;
}
.card {
	/* border: solid red 1px; */
	width: 6rem;
	height: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: space-around; */
	margin-right: 10px;
}
.card img {
	width: 5rem;
	height: 4rem;
	margin-bottom: 10px;
}
.card p {
	color: black;

	transition: transform 0.5s;
	visibility: hidden;
}
.card img:hover {
	transform: scale(1.1);
	box-shadow: 1px 1px 5px 1px #888888;
}
.card img:hover + p {
	visibility: visible;
	/* visibility: hidden; */
}
@media screen and (max-width: 1000px) {
	.about_right {
		padding: 4rem;
	}
}

@media screen and (max-width: 600px) {
	.about_right {
		padding: 3rem;
	}
}
@media screen and (max-width: 550px) {
	.card {
		/* border: solid red 1px; */
		width: 5rem;
		height: 5rem;
		margin-right: 10px;
	}
	.card img {
		width: 4rem;
		height: 3.5rem;
	}
}
@media screen and (max-width: 500px) {
	.about_right {
		padding: 1.8rem;
	}
}

@media screen and (max-width: 450px) {
	.about_right {
		padding: 1.5rem;
	}
	.about_right h1 {
		font-size: 1.8rem;
	}
	.about_right h2 {
		font-size: 1.2rem;
	}
	.about_right p {
		font-size: 1.1rem;
	}
	.card {
		/* border: solid red 1px; */
		width: 4.5rem;
		height: 4.5rem;
		margin-right: 10px;
	}
	.card img {
		width: 4rem;
		height: 3.5rem;
	}
}
@media screen and (max-width: 400px) {
	.card {
		/* border: solid red 1px; */
		width: 4.2rem;
		height: 4.2rem;
	}
	.card img {
		width: 4rem;
		height: 3.5rem;
	}
	.card p {
		font-size: 1rem;
	}
}
