.about_left {
	width: 50%;
	background-color: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	position: fixed;
}
.about_left img {
	border: solid rgb(91, 89, 89) 1px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: relative;
	align-self: flex-end;
	top: -50px;
	right: -75px;
}

@media screen and (max-width: 1300px) {
	.about_nav {
		/* border: solid yellow 1px; */
	}
	.card {
		width: 6rem;
		height: 6.5rem;
	}
	.card img {
		width: 5rem;
		height: 4rem;
	}
}
@media screen and (max-width: 1200px) {
	.about_left img {
		width: 120px;
		height: 120px;
		right: -60px;
	}
	.about_right {
		padding: 4rem 2.5rem 2rem 4.5rem;
	}
}
@media screen and (max-width: 1000px) {
	.about_left {
		border-bottom: solid black 2px;
		width: 100%;
		position: relative;
		min-height: 16rem;
		padding-top: 1rem;
	}
	.about_left img {
		display: none;
	}
}
