/* *{
  #105799
  #867308
  #265670
  #6C6967
  #7F7B77
  #bebcba;
} */

.raffle {
	background-color: #105799;
	height: 100%;
}
.raffle .header {
	border: solid red;
	padding-top: 2em;
	padding-bottom: 1em;
}
.raffle .header .wrapper {
	border: solid #265670;
	width: 30%;
	border-radius: 30px;
}
.raffle .form {
	background-color: #bebcba;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}
.raffle .form .form_div {
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.raffle .form .form_div label {
	color: #105799;
	font-weight: bolder;
}
.raffle .form .form_div input,
.raffle .form .form_div select,
.raffle .form button {
	height: 3em;
	border-radius: 5px;
}
