/* *{
  #105799
  #867308
  #265670
  #6C6967
  #7F7B77
  #bebcba;
} */

.todo {
	background-color: #105799;
	height: 100%;
}
.todo .header {
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.todo .header form input,
.todo .header form .form_btn {
	height: 50px;
	font-size: 36px;
	font-weight: 300;
	padding: 5px 20px;
	border-radius: 30px;
}
.todo .header form {
	display: flex;
	position: relative;
}
.todo .header form input {
	/* border: solid red; */
	width: 700px;
	margin-right: 20px;
	display: flex;
	align-items: center;
}
.todo .header form input:focus {
	outline: none;
}
.todo .header form div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.todo .header form button {
	border: solid black 1px;
	margin-left: 30px;
	display: contents;
}
.todo .header form .FA_icon {
	border-radius: 50%;
	font-size: 40px;
	align-self: center;
	background-color: rgb(5, 165, 5);
	color: black;
}
.todo .header form .FA_icon:hover {
	cursor: pointer;
	background-color: black;
	color: rgb(5, 165, 5);
}
.todo .header form .delete_icon {
	color: black;
	font-size: 40px;
	position: absolute;
	right: 90px;
}
.todo .header form .delete_icon:hover {
	color: red;
	cursor: pointer;
}

.todo .content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}
.todo .content .wrapper {
	/* border: solid red; */
	width: 40%;
}
.todo .content .wrapper li {
	/* border: solid red; */
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: dashed #bebcba 3px;
}
.todo .content .wrapper li div {
	display: flex;
	font-size: 32px;
	margin: 20px 0 10px 0;
	padding: 10px 20px 10px 30px;
}
/* .todo .content .wrapper li div:last-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
} */
.todo .content .wrapper li input {
	width: 30px;
	height: auto;
	margin-right: 30px;
}
.todo .content .wrapper .FA_icon {
	/* border: solid red; */
	margin: 0 10px;
}
.todo .content .wrapper .FA_icon:hover {
	cursor: pointer;
	color: yellow;
}
.todo .content .wrapper .FA_icon:hover:last-child {
	color: red;
}
.strike {
	text-decoration: line-through;
}
.todo .content .listEmpty {
	font-size: 36px;
}
