/* *{
  #105799
  #867308
  #265670
  #6C6967
  #7F7B77
  #bebcba;
} */

.todo {
	background-color: #105799;
	height: 100%;
}
.todo .header {
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.todo .header form {
	border: solid red;
	border-radius: 30px;
	width: 45%;
	display: flex;
	font-size: 40px;
	background-color: #fff;
}
.todo .header form .form_left {
	width: 80%;
}
.todo .header form .form_right {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}
.todo .header form .form_right .editing_icon {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.todo .header form input {
	font-size: 36px;
	font-weight: 300;
	padding: 5px 20px;
	border-radius: 30px;
	border: none;
	width: 100%;
}

.todo .header form input:focus {
	outline: none;
}

.todo .header form div:hover {
	cursor: pointer;
}

.todo .header form div .delete_icon {
	position: absolute;
	left: -50px;
	top: 8px;
}
.todo .header form div .cancel,
.todo .header form div .plus_circle {
	margin: 0 30px;
}

.todo .header form div .delete_icon:hover {
	color: red;
}

.todo .header form div .plus_circle:hover,
.todo .header form div .circle_check:hover {
	border-radius: 50%;
	background-color: black;
	color: rgb(5, 165, 5);
}
.todo .header form div .cancel:hover {
	color: yellow;
}

.todo .content {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}
.todo .content .wrapper {
	width: 40%;
}
.todo .content .wrapper li {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: dashed #bebcba 3px;
}
.todo .content .wrapper li div {
	display: flex;
	font-size: 32px;
	margin: 20px 0 10px 0;
	padding: 10px 20px 10px 30px;
}

.todo .content .wrapper li input {
	width: 30px;
	height: auto;
	margin-right: 30px;
}
.todo .content .wrapper .FA_icon {
	margin: 0 10px;
}
.todo .content .wrapper .FA_icon:hover {
	cursor: pointer;
	color: yellow;
}
.todo .content .wrapper .FA_icon:hover:last-child {
	color: red;
}
.strike {
	text-decoration: line-through;
}
.todo .content .listEmpty {
	font-size: 36px;
}
