.project {
	min-height: inherit;
	padding: 8em;
	position: fixed;
	width: 50%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* top: 250px; */
}
.container {
	height: 50vh;
}
.project_nav {
	width: 100%;
}
.project_nav div {
	margin-bottom: 4rem;
}
