.section {
	/* border: solid red; */
	height: 100vh;
	/* position: relative; */
	/* overflow: hidden; */
	/* overflow-x: scroll; */
}
.section .divContainer {
	border: solid black;
	height: 8%;
	/* overflow: hidden; */
}

.miniAppNav {
	/* border: solid red; */
	position: relative;
	width: 99vw;
	/* overflow: hidden; */
	height: 250px;
	top: -180px;
	margin: 10px auto 0;
	padding: 10px 80px 10px 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.section .content {
	border: solid black;
	height: 92%;
}
.section .view {
	/* border: solid black; */
	align-content: center;
	height: 75%;
}
.section .slider_div {
	border: solid blue;
	height: 25%;
	width: 100%;
	overflow-x: scroll;
}
.section .slider_container {
	border: solid black;
	width: 120%;
	height: 100%;
	/* overflow-x: scroll; */
	display: flex;
}
.section .slider_content {
	border: solid red;
	width: 20%;
	height: inherit;
}
