.main {
	/* border: solid red; */
	height: 100vh;
	/* position: relative; */
	/* overflow: hidden; */
	/* overflow-x: scroll; */
}
.main .nav_container {
	border: solid black;
	height: 8%;
	/* overflow: hidden; */
}

.mini_app_nav {
	/* border: solid red; */
	position: relative;
	width: 99vw;
	/* overflow: hidden; */
	height: 250px;
	top: -180px;
	margin: 10px auto 0;
	padding: 10px 80px 10px 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.main .content {
	border: solid black;
	height: 92%;
}
.main .output {
	/* border: solid black; */
	align-content: center;
	height: 75%;
}
.main .slider_div {
	border: solid blue;
	height: 25%;
	width: 100%;
	/* overflow-x: scroll; */
	overflow-x: hidden;
}
.main .slider_container {
	border: solid black;
	width: 120%;
	height: 100%;
	/* overflow-x: scroll; */
	display: flex;
}
.main .slider_content {
	border: solid red;
	width: 20%;
	height: inherit;
}
.main .slider_content img {
	width: 100%;
	height: 100%;
}
