.nav {
	/* border: solid red; */
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.nav .head {
	/* border: solid red; */
	font-family: var(--satisfy);
	/* color: #fff; */
	/* margin-bottom: 1rem; */
}
.nav .head h1 {
	font-size: 12rem;
	word-wrap: normal;
	text-align: center;
	line-height: 220px;
}

.nav ul {
	/* border: solid red; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	font-size: 1.5rem;
	/* color: red; */
}
.nav li {
	padding: 10px 15px;
}
.nav a {
	/* color: red; */
	text-decoration: none;
}

.nav a:hover,
.nav a.active {
	text-decoration: underline;
}
