.nav {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.nav .head {
	/* border: solid red; */
	font-family: var(--satisfy);
	/* color: #fff; */
	/* margin-bottom: 1rem; */
}
.nav .head h1 {
	font-size: 12rem;
	word-wrap: normal;
	text-align: center;
	line-height: 220px;
}

.nav ul {
	/* border: solid red; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	font-size: 1.5rem;
	/* color: red; */
}
.nav li {
	padding: 10px 15px;
}
.nav a {
	/* color: red; */
	text-decoration: none;
}

.nav a:hover,
.nav a.active {
	text-decoration: underline;
}
@media screen and (max-width: 1200px) {
	.nav .head h1 {
		font-size: 10rem;
		line-height: 120px;
	}
}
@media screen and (max-width: 1000px) {
	.nav .head h1 {
		font-size: 10rem;
		line-height: 180px;
	}
}
@media screen and (max-width: 700px) {
	.nav .head h1 {
		font-size: 10rem;
	}
}

@media screen and (max-width: 600px) {
	.nav .head h1 {
		font-size: 8rem;
		line-height: 150px;
	}
	.nav ul li {
		font-size: 1.4rem;
	}
}
@media screen and (max-width: 500px) {
	.nav .head h1 {
		font-size: 6rem;
		line-height: 120px;
	}
	.nav ul li {
		font-size: 1.3rem;
	}
}
@media screen and (max-width: 450px) {
	.nav ul li {
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 400px) {
	.nav ul li {
		font-size: 1.1rem;
	}
}
