:root {
	--dancing: "Dancing Script", cursive;
	--great: "Great Vibes", cursive;
	--marck: "Marck Script", cursive;
	--montez: "Montez", cursive;
	--roboto: "Roboto", sans-serif;
	--satisfy: "Satisfy", cursive;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--roboto);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
