.main {
	/* border: solid red 1px; */
	height: 100vh;
	position: relative;
}
.main .nav_container {
	border-bottom: solid black 2px;
	/* height: 8%; */
	/* overflow: hidden; */
	width: 100%;
	position: absolute;
	top: 0;
}

.mini_app_nav {
	width: 100%;
}
.mini_app_nav ul a {
	color: red;
}

/* .main .content {
	height: 100%;
} */
.main .output {
	align-content: center;
	height: 100%;
}
.main .slider_div {
	border: solid black 1px;
	height: 20%;
	width: 90%;
	/* overflow-x: scroll; */
	overflow: hidden;
	opacity: 0.5;
	transition: opacity 1s;
	position: absolute;
	bottom: 2rem;
	left: 5%;
	justify-self: center;
}
.main .slider_div:hover {
	opacity: 1;
}
.main .slider_container {
	/* border: solid black; */
	width: 120%;
	height: 100%;
	/* overflow-x: scroll; */
	display: flex;
}
.main .slider_content {
	/* border: solid red; */
	width: 20%;
	height: inherit;
}
.main .slider_content img {
	width: 100%;
	height: 100%;
}
.main .slider_content img:hover {
	cursor: pointer;
}
