.main {
	/* border: solid red 1px; */
	height: 100vh;
	position: relative;
}
.main .nav_container {
	border-bottom: solid black 2px;
	/* height: 8%; */
	/* overflow: hidden; */
	width: 100%;
	position: absolute;
	top: 0;
}

.mini_app_nav {
	width: 100%;
}

.mini_app_nav ul a {
	color: red;
}
.miniApp_burger {
	position: absolute;
	right: 3rem;
	top: 0.5rem;
}

/* .main .content {
	height: 100%;
} */
.main .output {
	align-content: center;
	height: 100%;
}
.main .slider_outer {
	height: 10rem;
	position: absolute;
	bottom: 2rem;
	display: flex;
	align-items: center;
	z-index: 10;
}
.main .slider_outer .slider_arrow {
	/* border: solid red 1px; */
	border: none;
	font-size: 3rem;
	margin: 0 1.5rem;
	background-color: rgb(176, 174, 174);
	opacity: 0.6;
	cursor: pointer;
}
.main .slider_div {
	height: inherit;
	width: 90%;
	/* overflow-x: scroll; */
	overflow: hidden;
	opacity: 0.5;
	transition: opacity 1s;

	left: 5%;
	justify-self: center;
}
.main .slider_div:hover {
	opacity: 1;
}
.main .slider_container {
	border: solid black 1px;
	width: 120%;
	height: 100%;
	/* overflow-x: scroll; */
	display: flex;
}
.main .slider_content {
	/* border: solid red; */
	width: 20%;
	height: inherit;
}
.main .slider_content img {
	width: 100%;
	height: 100%;
}
.main .slider_content img:hover {
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	.main .slider_outer {
		top: 5rem;
		right: 1rem;
		flex-direction: column;
		height: max-content;
	}
	.main .slider_container {
		background-color: rgba(184, 180, 176, 0.598);
		flex-direction: column;
		align-items: center;
		height: 0;
		overflow-y: scroll;
		border: none;
		transition: height 0.5s ease-in;
	}
	.main .slider_container.open {
		height: 80vh;
		border: solid black 1px;
	}
	.main .slider_div {
		width: 17.5rem;
		opacity: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.main .slider_content {
		width: 100%;
		height: inherit;
	}
	.main .slider_content img {
		border: solid black 1px;
		margin: 10px 0;
		width: 17rem;
		height: 10rem;
	}
	.main .slider_outer .slider_arrow {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.miniApp_burger {
		right: 1rem;
	}
}

@media screen and (max-width: 500px) {
	.mini_app_nav ul li {
		padding: 10px 10px;
	}
	.mini_app_nav ul a {
		font-size: 1.4rem;
	}
}
@media screen and (max-width: 450px) {
	.miniApp_burger {
		right: 0.5rem;
		top: 0.3rem;
	}
	.mini_app_nav ul a {
		font-size: 1.2rem;
	}
}
