.dice {
	background-color: #393e46;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	color: #48a388;
	font-family: "Lobster", cursive;
}

.dice .title {
	font-size: 3rem;
}

.dice .play_area {
	width: 50%;
	height: 80%;
	display: flex;
	justify-content: space-around;
}
.dice .left,
.dice .right {
	display: flex;
	flex-direction: column;
}
.dice .info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.dice .info h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
.dice .info p {
	font-size: 36px;
	margin-bottom: 20px;
}
.dice .options {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 70%;
}
.dice .options p {
	font-size: 36px;
	margin-bottom: 50px;
	color: goldenrod;
	/* border: solid red; */
	height: 50px;
	width: 200px;
	display: flex;
	/* align-content: center; */
	justify-content: center;
}
.dice .options button {
	font-size: 24px;
	padding: 5px 10px;
	border-radius: 10px;
	font-family: "Lobster", cursive;
	color: #fff;
}

.dice .options p + button {
	background-color: #48a388;
}
.dice .options button:last-child {
	margin-top: 50px;
	background-color: red;
}
.dice .options button:hover {
	cursor: pointer;
	background-color: lightgray;
	color: black;
}
