.dice {
	background-color: #393e46;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 3rem;
	color: #48a388;
	font-family: "Lobster", cursive;
}

.dice .title {
	font-size: 2rem;
	margin-bottom: 10px;
}

.dice .play_area {
	width: 50%;
	/* height: 80%; */
	display: flex;
	justify-content: space-between;
}
.dice .left,
.dice .right {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.dice .image img {
	width: 13rem;
	height: 13rem;
}
.dice .image + p {
	color: goldenrod;
	font-size: 1.5rem;
}
.dice .info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.dice .info h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
.dice .info p {
	font-size: 36px;
	margin-bottom: 20px;
}
.dice .options {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 50%;
	width: 50%;
}

.dice .options button {
	font-size: 24px;
	padding: 5px 10px;
	border-radius: 10px;
	font-family: "Lobster", cursive;
	color: #fff;
}

.dice .options button:first-child {
	background-color: red;
}
.dice .options button:last-child {
	margin-top: 50px;
	background-color: #48a388;
}
.dice .options button:hover {
	cursor: pointer;
	background-color: lightgray;
	color: black;
}
@media screen and (max-width: 1200px) {
	.dice .play_area {
		width: 65%;
	}
	.dice .options {
		width: 65%;
	}
}
@media screen and (max-width: 1000px) {
	.dice .play_area {
		width: 75%;
	}
	.dice .options {
		width: 75%;
	}
}
@media screen and (max-width: 800px) {
	.dice .play_area {
		width: 80%;
	}
	.dice .options {
		width: 80%;
	}
}
@media screen and (max-width: 700px) {
	.dice .options {
		/* border: solid red 1px; */
		position: absolute;
		bottom: 5rem;
		width: 80%;
		height: max-content;
	}
	.dice .options button:last-child {
		margin-top: 5px;
	}
}
@media screen and (max-width: 600px) {
	.dice .play_area {
		width: 90%;
	}
	.dice .options {
		width: 90%;
	}
}
@media screen and (max-width: 500px) {
	.dice .play_area {
		flex-direction: column;
	}
	.dice .left,
	.dice .right {
		margin-bottom: 0;
		position: relative;
		height: 13rem;
	}
	.dice .info {
		/* flex-direction: row; */
		position: absolute;
		left: 0;
		top: 10px;
	}
	.dice .image {
		position: absolute;
		right: 0;
		width: 10rem;
		height: 10rem;
	}
	.dice .image img {
		width: 10rem;
		height: 10rem;
	}

	.dice .image + p {
		position: absolute;
		left: 2rem;
		bottom: 3rem;
	}
	.dice .options {
		bottom: 3rem;
	}
	.dice .options button:last-child {
		margin-top: 1rem;
	}
}
@media screen and (max-width: 450px) {
	.dice .info h2 {
		font-size: 2rem;
		margin-bottom: 10px;
	}
	.dice .info p {
		font-size: 2rem;
		margin-bottom: 10px;
	}
}
