.num {
	background-color: #faebd7;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3.5rem 20px 20px 2px;
}
.num h1 {
	font-size: 3em;
	margin-bottom: 10px;
}
.num form {
	/* border: solid red; */
	display: flex;
	flex-direction: column;
	width: 60%;
}
.num form label {
	font-size: larger;
	margin-bottom: 10px;
}
.num form input {
	width: 70%;
	font-size: 3em;
	margin: auto;
	height: 50px;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 0 20px;
	color: red;
	text-align: right;
}
.num form button {
	width: 30%;
	margin: auto;
	font-size: 1.8em;
	border-radius: 10px;
	border: solid black 1px;
}
.num form button:hover {
	cursor: pointer;
	background-color: salmon;
	color: #fff;
}

.num div {
	/* border: solid red 1px; */
	height: 50%;
	width: 80%;
	padding: 1em 2em;
}
.num div p {
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.num footer {
	/* align-self: flex-end; */
	justify-content: last baseline;
}
