.pizzalated {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 1rem;
}
.pizzalated header nav {
	padding: 1rem 3rem;
	/* font-size: 1.5rem; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pizzalated header .logo {
	font-size: 2rem;
}
.pizzalated header .icon {
	font-size: 2rem;
}
.pizzalated header .icon:hover {
	cursor: pointer;
}
.pizzalated header .input_div {
	/* border: solid black; */
	width: 40%;
	position: relative;
	display: flex;
	align-items: center;
}
.pizzalated header input {
	font-size: 1.5rem;
	padding: 5px 80px;
	border-radius: 30px;
	width: 80%;
}

.pizzalated header .input_div .search {
	color: red;
	position: absolute;
	left: 20px;
}
.pizzalated header .input_div .clear {
	position: absolute;
	right: 180px;
}
.pizzalated header .cart_div {
	display: flex;
	align-items: center;
	position: relative;
}
.pizzalated header .cart_div span {
	position: absolute;
	background-color: #fff;
	font-size: smaller;
	border: solid red 2px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 25px;
	top: 15px;
}
.pizzalated section {
	padding: 20px 20px;
	height: 80%;
	display: flex;
	justify-content: space-between;
}
.pizzalated section .arrow_left,
.pizzalated section .arrow_right {
	/* border: solid black 2px; */
	font-size: 3rem;
	margin: 0 30px;
	align-self: center;
}
.pizzalated section .arrow_right:hover,
.pizzalated section .arrow_left:hover {
	cursor: pointer;
}
.pizzalated section .pizza_wrapper {
	/* border: solid black 2px; */
	width: 80%;
	overflow-x: hidden;
}
.pizzalated section .content {
	display: inline-flex;
}
.pizzalated section .card {
	border: solid gray 1px;
	border-radius: 30px;
	overflow: hidden;
	width: 15rem;
	box-shadow: 2px 5px 2px 2px lightgray;
	margin-right: 2.5rem;
}

.pizzalated section .card img {
	width: 15rem;
	height: 12rem;
}

.pizzalated section .card .info {
	/* border: solid red 1px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	padding: 0 20px;
}
.pizzalated section .card h1 {
	font-size: 1.2rem;
}
.pizzalated section .card p {
	font-size: 1.5em;
	color: red;
	font-weight: bolder;
}
.pizzalated section .card form {
	/* border: solid red 1px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.pizzalated section .card form div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}
.pizzalated section .card form div label {
	margin-right: 20px;
}
.pizzalated section .card form div .btn {
	font-size: 2rem;
	width: 10%;
	display: contents;
}
.pizzalated section .card form div input {
	/* border: solid red; */
	font-size: 1.3rem;
	width: 40%;
	text-align: center;
	padding: 5px 0;
	margin: 0 10px;
}
.pizzalated section .card form .btn_submit {
	border: solid red;
	font-size: 1.1rem;
	padding: 0.5rem;
	border-radius: 20px;
	border: rgb(166, 235, 63) solid 3px;
	background-color: rgb(166, 235, 63);
	font-weight: bold;
}

.pizzalated section .card form button:hover,
.pizzalated section .card form div .btn:hover {
	cursor: pointer;
}
.pizzalated section .card form .btn_submit:hover {
	box-shadow: 2px 1px 1px gray;
}
.pizzalated footer {
	/* border: solid red; */
	margin: auto;
	color: red;
}
.pizzalated footer p {
	margin: 0 10px;
}
