.simon {
	background-color: #011f3f;
	height: 100%;
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.simon .first,
.simon .last {
	width: 15%;
	color: #fff;
	writing-mode: vertical-rl;
	text-orientation: upright;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 5rem;
	font-size: 2rem;
	letter-spacing: 2rem;
	font-family: "Press Start 2P", cursive;
}
.simon .playArea {
	margin-top: 30px;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Press Start 2P", cursive;
}
.simon .playArea .start {
	background-color: #008000;
	width: 60%;
	font-size: 2rem;
	padding: 5px 30px;
	font-family: "Press Start 2P", cursive;
	border-radius: 5px;
}
.simon .playArea .start:hover {
	cursor: pointer;
}
.simon .playArea .wrapper {
	margin-top: 1rem;

	width: 100%;
	display: flex;
	/* padding: 2rem; */
}

.simon .playArea .info {
	/* margin-top: 20px; */
	/* height: 80%; */
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
}
.simon .playArea .info h1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	width: 80%;
	font-size: 4rem;
	/* margin-bottom: 2rem; */
	/* word-wrap: normal; */
	line-height: 5rem;
}

.simon .playArea .info .timer {
	font-size: 60px;
	color: red;
	/* visibility: visible; */
}
.simon .playArea .playDiv {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* margin-left: 50px; */
}
.playerTurn {
	background-color: rgb(92, 85, 85);
}
.computerTurn {
	background-color: rgb(51, 46, 46);
}
.simon .playArea .playDiv .button {
	border: solid black 10px;
	width: 10rem;
	height: 10rem;
	margin: 20px 20px;
	border-radius: 30px;
}
.pressed {
	box-shadow: 0 0 30px white;
	background-color: grey;
}

.simon .playArea .playDiv div:first-child {
	background-color: #008000;
}
.simon .playArea .playDiv div:first-child + div {
	background-color: #ff0000;
}
.simon .playArea .playDiv div:first-child + div + div {
	background-color: #ffff00;
}
.simon .playArea .playDiv div:last-child {
	background-color: #0000ff;
}

.simon .playArea .playDiv div:first-child:hover {
	background-color: #74ef74;
	cursor: pointer;
}
.simon .playArea .playDiv div:first-child + div:hover {
	background-color: #f46e6e;
	cursor: pointer;
}
.simon .playArea .playDiv div:first-child + div + div:hover {
	background-color: #f0f090;
	cursor: pointer;
}
.simon .playArea .playDiv div:last-child:hover {
	background-color: #7575f4;
	cursor: pointer;
}

.wrong {
	background-color: red;
}

.notVisible {
	visibility: hidden;
}
footer {
	/* border: solid yellow 1px; */
	width: 100%;
	display: inline-flex;
	align-content: center;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	color: #fff;
}
@media screen and (max-width: 1300px) {
	.simon .playArea .start {
		width: 80%;
	}
	.simon .playArea .info {
		width: 40%;
	}
	.simon .playArea .info h1 {
		font-size: 3rem;
	}
}
@media screen and (max-width: 1200px) {
	.simon .playArea .playDiv .button {
		width: 9rem;
		height: 9rem;
	}
}
@media screen and (max-width: 1000px) {
	.simon .first,
	.simon .last {
		width: 10%;
	}
	.simon .playArea {
		width: 80%;
	}
}
@media screen and (max-width: 850px) {
	.simon {
		flex-direction: column;
		padding-top: 4rem;
	}
	.simon .first,
	.simon .last {
		width: 100%;
		padding: 0;
		writing-mode: horizontal-tb;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.8rem;
	}
	.simon .playArea {
		margin: 0;
		padding: 30px;
		width: 100%;
	}
}
@media screen and (max-width: 700px) {
	.simon .playArea .start {
		font-size: 1.7rem;
	}
	.simon .playArea .playDiv .button {
		width: 8rem;
		height: 8rem;
	}
}
@media screen and (max-width: 650px) {
	.simon .first,
	.simon .last {
		font-size: 1rem;
	}
	.simon .playArea .wrapper {
		flex-direction: column;
		align-items: center;
	}
	.simon .playArea {
		padding: 20px;
	}
	.simon .playArea .info {
		width: 100%;
		padding: 0;
	}
	.simon .playArea .info h1 {
		flex-direction: row;
		width: 100%;
		font-size: 2rem;
	}
	.simon .playArea .playDiv {
		width: 80%;
	}
}
@media screen and (max-width: 600px) {
	.simon .playArea .start {
		width: 100%;
	}
	.simon .playArea .info .timer {
		font-size: 3rem;
	}
}
@media screen and (max-width: 500px) {
	.simon .playArea .start {
		font-size: 1.5rem;
	}
	.simon .playArea .playDiv {
		width: 100%;
	}
}
@media screen and (max-width: 450px) {
	.simon .playArea .start {
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 400px) {
	.simon .playArea .playDiv .button {
		width: 7rem;
		height: 7rem;
	}
}
@media screen and (max-width: 380px) {
	.simon .playArea .start {
		font-size: 1rem;
	}
}
