/* *{
  #105799
  #867308
  #265670
  #6C6967
  #7F7B77
  #bebcba;
} */

.todo {
	padding-top: 4rem;
	background-color: #105799;
	height: 100%;
}
.todo .header {
	display: flex;
	align-items: center;
	justify-content: center;
}
.todo .header form {
	border-radius: 30px;
	width: 45%;
	display: flex;
	font-size: 30px;
	background-color: rgb(218, 210, 210);
}
.todo .header form .form_left {
	width: 80%;
}
.todo .header form .form_right {
	position: relative;
	width: 20%;
	display: flex;
	align-items: center;
}
.todo .header form .form_right .editing_icon {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.todo .header form input {
	background-color: rgb(218, 210, 210);
	font-size: 2rem;
	font-weight: 300;
	padding: 0 20px;
	border-radius: 30px;
	border: none;
	width: 100%;
}

.todo .header form input:focus {
	outline: none;
}

.todo .header form div:hover {
	cursor: pointer;
}

.todo .header form div .delete_icon {
	position: absolute;
	left: -50px;
	top: 4px;
	color: red;
}
.todo .header form div .cancel,
.todo .header form div .plus_circle {
	margin: 0 30px;
}
.todo .header form div .plus_circle,
.todo .header form div .circle_check {
	color: rgb(5, 165, 5);
}

.todo .header form div .delete_icon:hover {
	color: black;
}

.todo .header form div .plus_circle:hover,
.todo .header form div .circle_check:hover {
	border-radius: 50%;
	background-color: black;
	/* color: rgb(5, 165, 5); */
}
.todo .header form div .cancel {
	border-radius: 50%;
	background-color: black;

	color: yellow;
}
.todo .header form div .cancel:hover {
	color: black;
	background-color: yellow;
}

.todo .content {
	display: flex;
	align-items: center;
	justify-content: center;
}
.todo .content .wrapper {
	width: 50%;
	margin-top: 20px;
}
.todo .content .wrapper li {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: dashed #bebcba 3px;
}
.todo .content .wrapper li div {
	display: flex;
	font-size: 32px;
	margin: 20px 0 10px 0;
	padding: 5px 20px 5px 30px;
}

.todo .content .wrapper li input {
	width: 20px;
	height: auto;
	margin-right: 30px;
}
.todo .content .wrapper .FA_icon {
	margin: 0 10px;
	color: yellow;
}
.todo .content .wrapper .FA_icon:last-child {
	color: red;
}
.todo .content .wrapper .FA_icon:hover {
	cursor: pointer;
	color: black;
}

.strike {
	text-decoration: line-through;
}
.todo .content .listEmpty {
	margin-top: 3rem;
	font-size: 36px;
}
@media screen and (max-width: 1200px) {
	.todo .header form {
		width: 60%;
	}
	.todo .content .wrapper {
		width: 60%;
	}
}
@media screen and (max-width: 1050px) {
	.todo .header form {
		width: 70%;
	}
	.todo .content .wrapper {
		width: 70%;
	}
}
@media screen and (max-width: 900px) {
	.todo .header form {
		width: 80%;
	}
	.todo .content .wrapper {
		width: 80%;
	}
}
@media screen and (max-width: 800px) {
	.todo .header form {
		width: 90%;
	}
	.todo .content .wrapper {
		width: 90%;
	}
}
@media screen and (max-width: 800px) {
	.todo .header form .form_left {
		width: 70%;
	}
	.todo .header form {
		font-size: 1.8rem;
	}
	.todo .header form input {
		font-size: 1.8rem;
	}
}
@media screen and (max-width: 500px) {
	.todo .content .wrapper li div {
		font-size: 1.8rem;
	}
}
@media screen and (max-width: 450px) {
	.todo .header form {
		font-size: 1.5rem;
		width: 95%;
	}
	.todo .content .wrapper li div {
		font-size: 1.8rem;
		padding: 1px;
	}
	.todo .header form input {
		font-size: 1.5rem;
	}
}
